@import '../../_css/common';

.relatedPosts{
  background-color: #CCCCE5;
  padding: 50px 0;
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.introContentHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  h4{
    padding:20px;
    border-radius: 12px;
    background: #6060AF;
    color: var(--Whitee, #FFF);
    font-family: var(--font-poppins);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 88.889% */
    letter-spacing: -1.8px;
  }

  a{
 height: 56px;
  width: 150px;
  color: #50CE78;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #50CE78;
  background-color: #ffffff;
}



.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: var(--base) 40px;

  @include mid-break {
    grid-template-columns: repeat(6, 1fr);
    gap: calc(var(--base) / 2) var(--base);
  }
}

.column {
  grid-column-end: span 12;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}

.cols-half {
  grid-column-end: span 6;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}

.cols-thirds {
  grid-column-end: span 3;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}
